<div class="cont_principal">
<div class="cont_text_img" [ngStyle]="contTextImg">
  <div class="cont_img_back">
    <img 
      class='img_1' 
      [ngStyle]="img1opacity" 
      [ngClass]="img1class" 
      src="http://i0.wp.com/farm1.staticflickr.com/417/19827417914_da1c83bbe6_b.jpg?w=1060" 
      alt=""
    />
    <img 
      class='img_2' 
      [ngStyle]="img2opacity" 
      [ngClass]="img2class" 
      src="http://i1.wp.com/farm1.staticflickr.com/530/19829170113_2b312c3ced_b.jpg?w=1060" 
      alt="" 
    />
  </div>
  <div class="cont_text">
<h1>San Francisco</h1>
    <p>San Francisco, officially the City and County of San Francisco, is the cultural, commercial, and financial center of Northern California and the only consolidated city-county in California. San Francisco encompasses a land area of about 46.9 square miles (121 km2) on the northern end of the San Francisco Peninsula, which makes it the smallest county in the state. </p>
    <button class="btn_read_m">READ MORE</button>
<div class="cont_icon_like">
<p>    <i class="material-icons"></i><span>288</span></p>
    </div>
  </div>
  <div class="cont_img_frond" [ngStyle]="contImgFrond" >
    <img 
    class='img_1' 
      [ngStyle]="img1opacity" 
      [ngClass]="img1class" 
      src="http://i0.wp.com/farm1.staticflickr.com/417/19827417914_da1c83bbe6_b.jpg?w=1060" 
      alt="" 
    />
    <img 
      class='img_2' 
      [ngStyle]="img2opacity" 
      [ngClass]="img2class" 
      src="http://i1.wp.com/farm1.staticflickr.com/530/19829170113_2b312c3ced_b.jpg?w=1060" 
      alt="" 
    /> 
<div class="cont_icons_img_from">
<ul>
  <li><i class="material-icons"></i>
  </li>
  <li>
  <i class="material-icons"></i>
  </li>
  <li><i class="material-icons"></i></li>
</ul>
  </div>
  </div>  

  </div>
  


</div>