<div class='blogscontainer'>
  <div class="row" *ngFor="let album of albums; let i = index">
    <ng-container *ngIf="users[i] && album">
      <div class="col" >
        <app-blogs-preview-card 
          [user]="users[i]" 
          [album]="albums[i]"
          [imagePostStyleUrl]="'url('+getPostImageByIndex(i)+')'">
        </app-blogs-preview-card>
        <app-blogs-readmore 
          [user]="users[i]" 
          [album]="albums[i]"
          [indexOfBlogPost]="i">
        </app-blogs-readmore>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <app-blogs-user-card 
          [user]="users[i]"
          [imageAvatarStyleUrl]="'url('+getUsersAvatarByIndex(i)+')'">
        </app-blogs-user-card>
      </div>    
    </ng-container>
  </div>
</div>
