<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4">{{ album.title }}</h1>
      <p class="lead">by <a>{{ user.name }}</a></p>
      <hr>
      <p>Posted on January 1, 2018 at 12:00 PM</p>
      <hr>
      <img class="img-fluid rounded" src="{{ getPostImage() }}" alt="">
      <hr>
      <p class="lead">{{ blogPostText }}
      <hr>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- Single Comment -->
      <app-blogs-comment
        [indexOfBlogPost]="indexOfBlogPost">
      </app-blogs-comment>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <app-side-bar></app-side-bar>
    </div>
  </div>

</div>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; My Blog Site 2018</p>
  </div>
</footer>