<header>
   <div class="flip-container centered">
      <div class="flipper">
         <div class="front"></div>
         <div class="back">
            <h1>Stanislav Svirepov</h1>
      <p>Web Development Chernigiv</p>
         <div class="font-a-icons">
            <div class="icon-group">
               <span class="bold">T: </span><span class="contact">512-773-0889</span>
            <div class="icon-group">
                <span class="bold">E: </span><a class="contact" href="mailto:svirepov.stanislav@gmail.com" target="_top">svirepov.stanislav@gmail.com</a>
            </div>
            <div class="icon-group">
               <a class="contact" href="https://github.com/StanislawVictorovich" target="_blank">Stanislaw Svirepov</a>
            </div>
         </div>
        </div>
        <a class="icon-box" href="https://www.facebook.com/stanislaw.victorovich" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="icon-box" href="https://twitter.com/stanislaw.victorovich" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="icon-box" href="https://plus.google.com/u/0/+stanislaw.victorovich" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a class="icon-box" href="https://www.linkedin.com/in/stanislav-svirepov/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="icon-box" href="https://stackblitz.com/@StanislawVictorovich" target="_blank"><i class="fa fa-codepen"></i></a>
        <a class="icon-box" href="https://github.com/StanislawVictorovich" target="_blank"><i class="fa fa-github"></i></a>
         </div>
      </div>
   </div>
</header>